  <!-- header section -->
  <div class="banner  text-center">
    <%= render 'open_banner' %>

    <div class="container pt-3">
      <div class="center-block button-container">
        <div class="open-buttons ">
          <%= link_to "Plan a trip", { enter_date_path }, type: "button", class: "btn btn-outline-primary btn-block mt-4" %>
  <!--         <button type="button" class="btn btn-outline-primary btn-block mt-4">Plan a trip</button> -->
          <button type="button" class="btn btn-outline-success btn-block mt-3">Edit exiting trip</button>
          <button type="button" class="btn btn-outline-danger btn-block mt-3">Explore Trips</button>
        </div>    
      </div>

    </div> 
  </div>

<!-- end of conatiner -->

<!-- <%=# react_component("HelloWorld", props: @hello_world_props, prerender: false) %> -->