@import 'variables'; // colors, fonts etc...

.transportation-row{
	background-color: white;
	font-size: 0.8em;
	padding-left: $timeline-offset - 8;
	color: $transportion-color;

	.transportion-content{
		padding-top: 1em;
		padding-bottom: 1em;
		margin: 1em 0;

	i{
		&.fa-blind{
			padding-left: 5px;
		}
		&.fa-bus{
			padding-left: 2px;
		}
		&.fa-plus{
			padding-left: 4px;
			font-size: 1.3em;

		}
	}
	.add-transportation{
		font-size: 1.3em;
	}
		.transportion-detail{
			font-size: 1.2em;
		}
		.left-padding{
			padding-left: 1.4em;
		}
		.from-to{
			color: darkgray;
		}
	}

	&:hover{
		color: lightblue;
	}
}


.add-transportation-container{
	position: absolute;
	background-color: white;
	border: 0.5px $transportation-container-border solid;
	box-shadow: -1px 4px 39px -13px rgba(0,0,0,0.75);

	z-index: 5;
	width: $transportation-container-width;

	.choice-row{
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 0.5px solid rgba(240,240,240,0.5);
		.choice-icon{
			flex: 1;
			padding-left: 20px;
			align-self: center;
		}

		.choice-content{
			display: flex;
			flex-direction: column;
			flex: 3;
		}

		.choice-selected{
			flex: 1;
			color: green;

		}

	}


}